body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: url("https://media.giphy.com/media/26vUucK24XyuAy9a0/giphy.gif");
   
    
}

.avatar {
    width: 150px;
    border-radius: 80px;
    
}

.mid-card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;

    background:#000000;
    color: #e8e1e0;
    border-bottom: 0px solid #d4cac8 ;
    border-radius: 90px;

   
    /*
    Challenge: background: #fcd5ce;
    color: #012a4a;
    border-bottom: 6px solid #8d99ae;
    border-radius: 100px;
    Find a color palette you like on Coolors.co
    and use it in your business card.
    
    background: #ebd4cb;
    color: #2c0703;
    border-bottom: 80px solid #da9f93;
    border-radius: 90px;
     https://images.unsplash.com/photo-1521911528923-9c3838123490?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGRyYXdpbmclMjB3YWxscGFwZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60
*/
    }


.border-blue {
    border: 1px dotted blue;
}

.left-card{
      
        width: 400px;
        padding: 30px;
        text-align: center;
    
        background: #0a0a0a;
        color: #f3f0f0;
        border-top: 50px solid #fca311;
        border-radius: 90px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        word-spacing: 5;
        
        /*visibility: hidden;
        Challenge: background: #fcd5ce;
        color: #012a4a;
        border-bottom: 6px solid #8d99ae;
        border-radius: 100px;
        Find a color palette you like on Coolors.co
        and use it in your business card.
         */
    }



    .right-card{
      
        width: 400px;
        padding: 30px;
        text-align: center;
        background: #141414;
        color: #faf6f6;
        border-top: 50px solid #fca311;
        border-radius: 90px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        word-spacing: 5;
        
    }

    .contain {
       
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
       
       
    } background: #000000;
/* border-top: 30px solid #766a68;
    border-bottom: 30px solid #766a68;
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ebd4cb;
    color: #2c0703;
    border-bottom: 20px solid #da9f93;
    border-radius: 100px;
}


    background: #4c0513;